/* Estilos para el contenedor del botón y el banner */
.contenedor-banner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

/* Estilos para el botón del menú */
.boton {
  background-color: #456788;
  color: white;
  border: none;
  padding: 16px;
  font-size: 18.5px;
  cursor: pointer;
}

/* Estilos para el elemento con clase "links" y los enlaces */
.links a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 13px;
}

/* Estilos para el elemento con clase "links" */
.links {
  background-color: #f9f9f9;
  width: 185px;
  display: none;
  position: absolute;
}

/* Estilos para el elemento con clase "links" y los enlaces para que cambien de fondo al pasar el cursor */
.links a:hover {
  background-color: #f1f1f1;
}

/* Mostrar el menú desplegable al pasar el cursor sobre él */
.desplegable:hover .links {
  display: block;
}

/* Estilos para el contenedor desplegable */
.desplegable {
  position: relative;
}

/* Estilos para los elementos con clase "destacado" */
.destacado {
  color: white;
  background-color: blue;
}

/* Estilos para el elemento con ID "titulo" */
#titulo {
  font-size: 32px;
}

/* Estilos para la clase "caja" y modelo de caja */
.caja {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  background-color: lightgray;
}

/* Estilos para el contenedor con clase "contenedor" y flexbox */
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
